/* MasterTeacherV2.css */

.container-full-master-teacher-v2 {
  background-color: #007bff;
}

.container-master-teacher-v2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.superparent-container-master-teacher-v2 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.img-card-master-teacher-v2 {
  width: 50%;
  max-width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: -60px;
  margin-bottom: 15px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-master-teacher-v2 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  padding-top: 80px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 380px; /* Sesuaikan tinggi ini jika diperlukan */
  justify-content: space-between;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card-master-teacher-v2:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 24px;
  cursor: pointer;
}

/* Hapus style tombol lama */
.jurusan-master-teacher-v2,
.univ-master-teacher-v2,
.parent-jurusan-master-teacher-v2 {
  display: none;
}

.mapel-master-teacher-v2 {
  margin-top: 5px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgb(77, 77, 77);
  margin-bottom: 0;
  font-size: 0.9rem;
}

.program-master-teacher-v2 {
  margin-top: 5px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: rgb(77, 77, 77);
  margin-bottom: 0;
  font-size: 0.9rem;
}
.nama-master-teacher-v2 {
  font-weight: 600;
  flex-shrink: 0;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 5px;
}

.ratting-master-teacher-v2 {
  line-height: 18px;
  font-size: 15px;
  color: rgb(77, 77, 77);
  margin-top: 12px;

  flex-shrink: 0;
}

.rating-container-v2 {
  display: flex; /* Menggunakan flexbox untuk penempatan bintang */
  justify-content: center; /* Menempatkan bintang di tengah */
  color: #ffc107;
  margin-top: 10px;
  margin-bottom: 10px;
}
.star-icon-master-teacher {
  font-size: 1.2rem;
  margin: 0 2px; /* Memberikan sedikit ruang antar bintang */
}
/* Style baru untuk teks universitas dan jurusan */
.univ-jurusan-text {
  font-family: "Poppins", sans-serif;
  color: #007bff; /* Warna biru */
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: auto; /* Mendorong ke bawah */
}

.swiper-wrapper {
  padding-top: 2%;
  padding-bottom: 40px;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

/* TARGET PAGINATION BULLET */
.swiper-pagination {
  bottom: 0px !important;
}

.title-master-teacher-v2 {
  text-align: center;
  font-weight: 800;
  color: #ffffff;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
.child-title-master-teacher-v2 {
  margin-top: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  background: #bbb;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #007bff;
  width: 25px;
  border-radius: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 896px) {
  .title-master-teacher-v2 {
    font-size: 20px;
  }
  .child-title-master-teacher-v2 {
    font-size: 15px;
  }
  .superparent-container-master-teacher-v2 {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .card-master-teacher-v2 {
    height: 310px;
    padding-top: 70px;
  }
  .img-card-master-teacher-v2 {
    margin-top: -50px;
  }
  .swiper-wrapper {
    padding-bottom: 50px;
  }
  .swiper-pagination {
    bottom: 0px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .card-master-teacher-v2 {
    height: 290px;
  }
}
