.program-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.option {
  background-color: #007bff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.icon-program-mtx {
  width: 43%;
  height: auto;
}

.program-options h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.program-options p {
  font-size: 0.9rem;
  color: #f3f3f3;
  font-family: "Poppins", sans-serif;

  margin: 0;
}

@media (max-width: 768px) {
  .program-options {
    grid-template-columns: 1fr;
  }
  .program-options h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .program-options p {
    font-size: 0.9rem;
  }
  .program-options p {
    text-align: left;
  }
}
