.centered-content-programLesPrivatSMA {
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 1024px) {
  .centered-content-programLesPrivatSMA {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.centered-content-programLesPrivatSMA h2 {
  font-size: 1.2rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.3rem;
  line-height: 1.4;
  border-left: 4px solid #0077ff;
  padding-left: 0.6rem;
}

.centered-content-programLesPrivatSMA p {
  font-size: 0.9rem;
  color: #4f4f4f;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
}

.centered-content-programLesPrivatSMA ul {
  margin-left: 1.2rem;

  list-style-type: disc;
}

.centered-content-programLesPrivatSMA li {
  margin-bottom: 0.3rem;
  color: #555555;
  font-size: 0.9rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

/* Responsiveness */
@media (max-width: 768px) {
  .centered-content-programLesPrivatSMA h2 {
    font-size: 1.1rem;
  }

  .centered-content-programLesPrivatSMA p,
  .centered-content-programLesPrivatSMA li {
    font-size: 0.9rem;
  }
}
