/* LesPrivateSMPSection.css */

.centered-content-lesPrivate-smp {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered-content-lesPrivate-smp h1 {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #333333;
  margin-bottom: 1rem;
  text-align: center; /* Center-align heading text */
}

.centered-content-lesPrivate-smp h2 {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border-left: 4px solid #0077ff;
  padding-left: 0.6rem;
}

.centered-content-lesPrivate-smp p {
  font-size: 0.9rem;
  color: #4f4f4f;

  margin-bottom: 1.5rem;

  font-family: "Poppins", sans-serif;
}

.image-lesPrivate {
  margin: 2rem 0;
  text-align: center;
}

.image-lesPrivate img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio of the image */
  border-radius: 20px;
}

.image-caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #777;
  text-align: center; /* Center-align image caption */
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .centered-content-lesPrivate-smp h1 {
    font-size: 1.25rem;
  }

  .centered-content-lesPrivate-smp h2 {
    font-size: 1.2rem;
  }

  .centered-content-lesPrivate-smp p {
    font-size: 0.9rem;
  }

  .image-caption {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .centered-content-lesPrivate-smp h1 {
    font-size: 1.2rem;
    text-align: start;
  }

  .centered-content-lesPrivate-smp h2 {
    font-size: 1.15rem;
  }

  .centered-content-lesPrivate-smp p {
    font-size: 0.9rem;
  }

  .image-caption {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .centered-content-lesPrivate-smp h1 {
    font-size: 1.15rem;
    line-height: 27px;
    text-align: start;
  }

  .centered-content-lesPrivate-smp h2 {
    font-size: 1.1rem;
  }

  .centered-content-lesPrivate-smp p {
    font-size: 0.9rem;
  }

  .image-caption {
    font-size: 0.7rem;
  }
}
