.centered-content-lesPrivate-simakUI {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Heading Utama */
.centered-content-lesPrivate-simakUI h1 {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

/* Sub Heading */
.centered-content-lesPrivate-simakUI h2 {
  font-size: 1.2rem;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.3rem;
  line-height: 1.4;
  border-left: 4px solid #0077ff;
  padding-left: 0.6rem;
}

/* Sub-sub heading (h3) */
.centered-content-lesPrivate-simakUI h3 {
  font-size: 1.1rem;
  color: #343434;
  font-weight: 700;

  margin-bottom: 0.5rem;
}

/* Paragraf */
.centered-content-lesPrivate-simakUI p {
  font-size: 0.9rem;
  color: #4f4f4f;

  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* List */
.centered-content-lesPrivate-simakUI ul {
  margin: 0.5rem 0 0.5rem 1.2rem;
  padding-left: 0.5rem;
  list-style: disc;
}

.centered-content-lesPrivate-simakUI ul li {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.6;
  position: relative;
}

.centered-content-lesPrivate-simakUI ul li::marker {
  color: #333333;
  font-size: 0.9rem;
}

/* Gambar */
.image-lesPrivate {
  margin: 2rem 0;
  text-align: center;
}

.image-lesPrivate img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-caption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #777777;
  font-style: italic;
  text-align: center;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .centered-content-lesPrivate-simakUI h1 {
    font-size: 1.5rem;
  }

  .centered-content-lesPrivate-simakUI h2 {
    font-size: 1.2rem;
  }

  .centered-content-lesPrivate-simakUI h3 {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .centered-content-lesPrivate-simakUI h1 {
    font-size: 1.3rem;
  }

  .centered-content-lesPrivate-simakUI h2 {
    font-size: 1.1rem;
  }

  .centered-content-lesPrivate-simakUI h3 {
    font-size: 1rem;
  }

  .centered-content-lesPrivate-simakUI p,
  .centered-content-lesPrivate-simakUI ul li {
    font-size: 0.9rem;
  }
}
