/* SuccessStory.css */
.success-story-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.success-story-container h2 {
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  color: #333333;
}
.success-story-description {
  font-size: 0.9rem;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  color: #555555;
  font-weight: normal;
}

.success-story-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.success-story-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-story-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .success-story-content {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .success-story-container h2 {
    font-size: 1.25rem;
  }
  .success-story-description {
    font-size: 0.88rem;
  }
}
