.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Latar belakang gelap */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Pastikan modal di atas konten lain */
  animation: fadeIn 0.3s ease-out;
}

.image-modal-content {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  max-width: 60vw;
  max-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 0.3s ease-out;
}

.image-modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2.5rem; /* Ukuran silang */
  color: #fff; /* Warna silang */
  cursor: pointer;
  z-index: 1001; /* Pastikan tombol di atas gambar */
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Bayangan untuk visibilitas */
}

/* Untuk posisi tombol close di dalam konten modal saat backgroundnya putih */
.image-modal-content > .image-modal-close-button {
  color: #fff; /* Ubah warna jika tombol berada di dalam area putih */
  top: 5px;
  right: 10px;
  font-size: 2rem;
}

.image-modal-image {
  max-width: 100%;
  max-height: 100%;
  display: block; /* Menghilangkan spasi ekstra di bawah gambar */
  border-radius: 8px; /* Memberikan sedikit lengkungan pada gambar */
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .image-modal-content {
    padding: 5px;
    max-width: 90vw;
    max-height: 90vh;
  }
  .image-modal-close-button {
    font-size: 2rem;
    top: 5px;
    right: 10px;
  }
}
