/* Container Utama */
.testimonial-slider-ortu-siswa-container {
  text-align: center;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

/* Judul */
.title-testimonial-orang-tua-siswa {
  font-size: 1.7rem;
  color: #007bff;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.testimonial-image {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .testimonial-image {
    width: 100%;
    height: auto;
  }
  .title-testimonial-orang-tua-siswa {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .testimonial-slider-ortu-siswa-container {
    font-size: 1.5rem;
  }
}
