/* styles.css */
.container-asal-sekolah-siswa-marque {
  margin-top: 40px;
}

.wrapper-asal-sekolah-siswa-marque {
  padding-left: 16px; /* px-4 */
  padding-right: 16px; /* px-4 */
}

.marquee-container-asal-sekolah-siswa-marque {
  overflow: hidden; /* overflow-hidden */
  white-space: nowrap; /* whitespace-nowrap */
  padding-top: 16px; /* py-4 */
  padding-bottom: 16px; /* py-4 */
}

.marquee-grid {
  display: flex; /* flex */
}

.marquee-grid img {
  /* display: inline-block; */
  height: 60vh;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .marquee-grid img {
    height: 50vh;
    border-radius: 8px;
  }
}
