body {
  /* background-color: #d4e5f5 !important; */
  background-color: #ffffff;
  font-family:
    "Poppins", sans-serif; /* Menerapkan font Poppins secara global ke body */
}

* {
  margin: 0;
  padding: 0;
  font-family:
    "Poppins", sans-serif; /* Memastikan semua elemen (heading, paragraf, tombol, dll) ikut menggunakan Poppins */
}

.container-all {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* RESPONSIVE */
@media only screen and (max-width: 500px) {
  .container-all {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 14%;
  }
}
@media only screen and (max-width: 768px) {
  .container-all {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media only screen and (max-width: 820px) {
  .container-all {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media only screen and (max-width: 1024px) {
  .container-all {
    padding-left: 4%;
    padding-right: 4%;
  }
}
